# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo
dist/

# Optional
.env
.env.local

# Local browser configuration with RPC URLs / deployed addresses
config.js
