# Hardhat/compiler output
**/artifacts/
**/artifacts/**
cache/
typechain-types/
dist/

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
.idea
docs
node_modules